.input-wrapper {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.auth-input {
  flex:1;

  height: 4.5rem;
  padding: var(--spacing-150) var(--spacing-400) var(--spacing-150) var(--spacing-150);

  color: black;
  background-color: var(--white);

  border: 1px solid var(--beige-500);
  border-radius: var(--spacing-100);
}

.input-wrapper > .icon-wrapper-s{
    position: absolute;
    right: var(--spacing-100);
    top: 45%;
}

.input-error{
    border: 1px solid var(--red);
}

.input-success{
    border: 1px solid var(--green);
}



