.btn-primary{
    width:100%;
    height:5rem;

    padding: var(--spacing-200);

    background-color: var(--grey-900);

    border-radius: var(--spacing-100);

    cursor: pointer;

    font-family: inherit;

    letter-spacing: 0.1rem;
    
}

.btn-primary:hover{
    background-color: var(--grey-500);
}

.btn-disabled{
    opacity: 0.5;
}