.icon-wrapper-xs{
    width: 1.2rem;
    height: 1.2rem;
}

.icon-wrapper-s{
    width: 1.6rem;
    height: 1.6rem;
}

.icon-wrapper-m{
    width: 2.4rem;
    height: 2.4rem;
}

.icon-wrapper-xl{
width: 4rem;
    height: 4rem;
}

.icon-wrapper-logo{
    width: 12rem;
    height: 2.4rem;
    
}

.icon-wrapper-xs
,.icon-wrapper-s
,.icon-wrapper-m
,.icon-wrapper-xl
,.icon-wrapper-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper-xs
,.icon-wrapper-s
,.icon-wrapper-m
,.icon-wrapper-xl
,.icon-wrapper-logo{
    cursor: pointer;
}