.icon-wrapper-xs{
    width: 1.2rem;
    height: 1.2rem;
}

.icon-wrapper-s{
    width: 1.6rem;
    height: 1.6rem;
}

.icon-wrapper-m{
    width: 2.4rem;
    height: 2.4rem;
}

.icon-wrapper-xl{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
}

.icon-wrapper-logo{
    width: 12rem;
    height: 2rem;
}

.icon-wrapper-s
,.icon-wrapper-m
,.icon-wrapper-logo{
    cursor: pointer;
}