.aside{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    
    display: flex;
    flex-direction: column;

    text-align: left;

    width: 25%;
    border-top-right-radius: var(--spacing-200);
    border-bottom-right-radius: var(--spacing-200);

    color: var(--grey-300);
    background-color: var(--grey-900);

    span{
        text-wrap: nowrap; 
        overflow: hidden;
    }
    .icon-wrapper-m{
        margin-top: 0.1rem;
    }
    
}

.aside-minimized{
    width: 8.8rem;


    span{
        display: none;
    }

    .sidebar_minimize>.icon-wrapper-m{
        transition: transform 0.5s ease;
        transform: rotate(180deg);
    }

    .icon-wrapper-logo{
        width: 2.4rem;
        height: 2.4rem;
        img{
            content: url("../assets/svg/finance-logo-minimized.svg");
        }
    }
}

.sidebar{
    flex:1;

    display: flex;
    flex-direction:column;
    gap: var(--spacing-300);
    
    padding-bottom: 24px;

    .icon-wrapper-logo{
        padding: var(--spacing-500) var(--spacing-400);
    }
}

.sidebar_item{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    gap: var(--spacing-200);

    padding: var(--spacing-200) var(--spacing-400);
    margin-right: var(--spacing-300);

    cursor: pointer;
}

.active-link{
    color: var(--green);
    background-color: var(--beige-100);

    border-left: 0.4rem solid var(--green);
    border-top-right-radius: var(--spacing-150);
    border-bottom-right-radius: var(--spacing-150);

    img{
        filter: invert(39%) sepia(72%) saturate(447%) hue-rotate(130deg) brightness(90%) contrast(85%);
    }
}

.log-out-icon{
    transform: rotate(180deg);
    img{
        width: 2rem;
        height: 2rem;
    }
}

.sidebar_item:last-child{
    margin-top: auto;
}


.main-container{
    flex: 1;
    display: flex;
    
    margin-left: 25%; 
    padding: var(--spacing-400) var(--spacing-500);
}

.aside-minimized ~ .main-container {
    margin-left: 8.8rem;
}


