.table-input-wrapper {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-100);
}

.table-label{
  color: var(--grey-500);
}


.table-input {
  box-sizing: border-box;
  flex:1;

  height: 4.5rem;
  padding: var(--spacing-150) var(--spacing-200);

  color: black;
  background-color: var(--white);

  border: 1px solid var(--beige-500);
  border-radius: var(--spacing-100);
}

.table-input[type="search"]{
  padding-right: var(--spacing-300);
  +.icon-wrapper-s:hover{
    background-color: var(--grey-300)
  }
}

.table-input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}



.table-input-wrapper > .icon-wrapper-s{
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}



