.text-1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 120%;

    letter-spacing: 0rem;
    margin-bottom: 0.1rem;
}

.text-2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;

    letter-spacing: 0rem;
    margin-bottom: 0.1rem;
}

.text-3{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;

    letter-spacing: 0rem;
    margin-bottom: 0.1rem;
}

.text-4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;

    letter-spacing: 0rem;
    margin-bottom: 0.1rem;
}

.text-5{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;

    letter-spacing: 0rem;
    margin-bottom: 0.1rem;
}

.text-bold{
    font-weight: 700;
}


.text-dark{
    color: var(--grey-900);
}

.text-light{
    color: var(--grey-500);
}

.text-green{
    color: var(--green);
}

.text-red{
    color: var(--red);
}
