.overview-page_budgets{
    flex: 2.5;

    gap: var(--spacing-250);
}

.overview-page_budgets_content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--spacing-200);

    padding: var(--spacing-100) 0;

    
}

.overview-page_budgets_chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    width:  100%;
    height: 100%;
}

.overview-page_budgets_chart-text{
    text-anchor: middle;
    user-select: text;
    -webkit-user-select: text;
    cursor: text;
}

.overview-page_budgets_list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: var(--spacing-200);
}


