.overview-page_transactions{
    flex: 2.5;

    gap: var(--spacing-400);
}

.overview-page_transactions_content{
    flex: 1;

    display: flex;
    flex-direction: column ;
    gap: var(--spacing-250);

    
}

.overview-page_transactions_item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding-bottom: var(--spacing-100);

    border-bottom: 1px solid var(--grey-100);

    >div:first-child{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: var(--spacing-200);
    }

}

.overview-page_transactions_item_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-100);
}


