.overview-page_budgets{
    flex: 2.5;

    gap: var(--spacing-250);
}

.overview-page_budgets_content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--spacing-200);

    padding: var(--spacing-100) 0;

    
}



.overview-page_budgets_list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: var(--spacing-200);
}


