.overview-page_recurring-bills{
    flex: 1;

    gap: var(--spacing-400);
}

.overview-page_recurring-bills_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.overview-page_recurring-bills_item{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--spacing-250) var(--spacing-200);

    background-color: var(--beige-100);

    border-left: 0.4rem solid var(--green);
    border-radius: var(--spacing-100);
}