:root {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  width: 100%;
  min-height: 100vh;
  margin: 0;

  font-family: "public sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  color-scheme: light dark;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

#root {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  text-align: center;

  width: 100%;

  background-color: #ffffff;
}








