@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');


:root {

  --white: #FFFFFF;

  --beige-100: #F8F4F0;
  --beige-500: #98908B;



  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;


  --green: #277C78;

  --red:#C94736;




  font-size: 10px;

  --spacing-500: 4rem;
  --spacing-400:  3.2rem;
  --spacing-300:  2.4rem;
  --spacing-250:  2rem;
  --spacing-200:  1.6rem;
  --spacing-150:  1.2rem;
  --spacing-100:  0.8rem;
  --spacing-50: 0.4rem;


}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  width: 100%;
  min-height: 100vh;
  margin: 0;


  font-family: "public sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  >{
    transition: all 0.3s ease;
  }
}

#root {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  text-align: center;

  width: 100%;

  background-color: var(--beige-100);
}








